# Data Science Tools and Ecosystem

## Author
Okuich Abella

In this notebook, Data Science Tools and Ecosystem are summarized.

### objectives
<ul><li>Popular Data Science Languages</li></ul>
<ul><li>Popular Data Science Libraries</li></ul>
<ul><li>Data Science Tools</li></ul>
<ul><li>Arithmetic</li></ul>
<ul><li>Conversions</li></ul>

Some of the popular languages that Data Scientists use are:

In [1]:
Data_science_language_list = ["Python", "R", "Julia", "SQL", "Java"]
Data_science_language_list.sort()
print(Data_science_language_list)

['Java', 'Julia', 'Python', 'R', 'SQL']

Some of the commonly used libraries used by Data Scientists include:

In [3]:
Data_science_libraries = ["NumPy", "pandas", "matplotlib", "scikit-learn", "seaborn", "tensorflow", "pytorch", "keras", "scipy", "statsmodel"]
Data_science_libraries.sort()
print(Data_science_libraries)

['NumPy', 'keras', 'matplotlib', 'pandas', 'pytorch', 'scikit-learn', 'scipy', 'seaborn', 'statsmodel', 'tensorflow']

Data Science Tools
|:---------------|
|__Jupyter Notebook__|
|__RStudio__|
|__Pycharm__|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
1 + 1

2

In [5]:
2-1

1

In [6]:
3*6

18

In [7]:
25/5

5.0

 This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [21]:
from math import floor
minutes = 200
hours_and_minutes = (floor(minutes/60))
print(hours_and_minutes)

3